{% extends 'base.html.twig' %}

{% block title %}New Lexique{% endblock %}

{% block body %}
    <h1>Create new Lexique</h1>
    {{ form_start(form, { 'action': path('admin_lexique_new') } ) }}
    {{ include('FormationManagement/Lexique/_form.html.twig') }}

    <a href="{{ path('admin_lexique_index') }}">back to list</a>
{% endblock %}
