// COLORS
$white: white;
$black: black;
$gray: #848282;
$gray-dark: #333;
$prussian-blue: #5B5B5B; // mayoly
$gallery-gray: #eeeeee;
$scooter-blue: #3059B2; // Mayoly
$scorpion-gray: #5B5B5B;
$cinnabar-red: #E34747;
$jaffa-orange: #F17046;
$downy-blue: #63C4CA;
$goldenrod-yellow: #F9CB6B;
$tiara-gray: #C2CDCE;
$athens-gray: #E9E9F0;
$eval: #F17046;
$green-mid: #95A21C;
$green-dark: #42540E;