MAILER_FROM=info@universalmedica.com

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=2b4fb81e0f23bae3339ded23d3ed5316
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=mysql://root:9TT4fgq5@db:3306/lms-test
###< doctrine/doctrine-bundle ###

###> symfony/swiftmailer-bundle ###
MAILER_URL=smtp://in.mailjet.com:465?encryption=ssl&auth_mode=login&username=33c028dbc7912a6c2db7debd12fd4cb7&password=202a8710754fd4eb27e2652e5050ec5a
###< symfony/swiftmailer-bundle ###
