.thumbnail {
    margin: 1rem 0 2rem;
    text-align: center;
    img {
        clip-path: circle(35% at center center);
        transform: scale(1.5);
        min-width: 6.5625rem;
        max-width: 6.5625rem;
    }
}

.name {
    color: $scooter-blue;
    font-size: 1.25rem;
    font-weight: 700;
}

.first {
    text-transform: capitalize;
}

.last {
    text-transform: uppercase;
}

.function {
    font-size: .875rem;
}

.admin {
    &-h2 {
        border-bottom: 1px solid $scooter-blue;
        color: $prussian-blue;
        font-size: .938rem;
        font-weight: 500;
        margin-bottom: 2em;
        padding: 0.5em 0 1em;
        text-transform: uppercase;
    }
}

.data {
    &-photo,
    &-perso {
        margin-bottom: 4em;
        @media(min-width: $lg) {
            padding-right: 3em;
        }
    }
    &-photo {
        text-align: center;
    }
}