{% extends 'base.html.twig' %}

{% block body %}
<div class="row row-cards">
    <div class="col col-12"> 
      <div class="">
        <div class="page-title">
          <h1 class="title">{{ 'ldap.add'|trans }} ldap </h1>
          <hr>
        </div>   
      </div>  
    </div>  

    <div class="col col-lg-8">
        <div class="card-body">
          <form action="{{ path('admin_ldap_add') }}" name="ldap" method="post" class="form-horizontal">
  					{% include "UserManagement/Ldap/form.html.twig" %}
          </form>   
      </div>
    </div>

   
    
</div>

{% endblock %}